baseURL: /
languageCode: en-us
title: London Natural History Museum's host-helminth database
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production 
  title: wormtown
  description: ""
  keywords: [helminth, parasite, database, ecology, parasitology, parasite biodiversity]
  author: Tad
  images: ["richnessMap.png", "worm.png", "sizeCompare.png"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # dark, light
  disableThemeToggle: true
  ShowReadingTime: false
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: false
  ShowCodeCopyButtons: false
  ShowWordCount: false
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  hideAuthor: true
  showtoc: false
  tocopen: false

  footer:
    hideCopyright: true

  assets:
    favicon: "worm.png"

  label:
    text: " "
    icon: worm.png
    iconHeight: 60

  # profile-mode
  profileMode:
    enabled: false
    title: wormtown
    subtitle: "Welcome to wormtown"
    imageUrl: "richnessMap.png"
    imageWidth: 120
    imageHeight: 120
    imageTitle: wormtown
    buttons:
      - name: Posts
        url: posts
      - name: Tags
        url: tags

  # home-info mode
  homeInfoParams:
    Title: "Welcome to wormtown"
    Content: We are curating one of the largest databases of interactions between hosts and helminth parasites, originally curated by the [London Natural History Museum](https://www.nhm.ac.uk/research-curation/scientific-resources/taxonomy-systematics/host-parasites/). These data have been archived by the London Natural History Museum, but we are actively maintaining, augmenting, georeferencing, and serving these data here openly. We hope this helps disease ecologists, biogeographers, macroecologists, and others address interesting scientific questions leveraging this fantastic data resource.

  socialIcons:
    - name: github
      url: "https://github.com/LNHMhelminth"

  caches:
    images:
      dir: :cacheDir/images
      
  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10 
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: about
      name: about
      url: /about/
      weight: 10
    - identifier: data
      name: data
      url: /data/
      weight: 20
    - identifier: publications
      name: publications
      url: /publications/
      weight: 30
    - identifier: codeFest
      name: codeFests
      url: /codeFest/
      weight: 40
    - identifier: contact
      name: contact
      url: /contact/
      weight: 50
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    # lineNos: true
    style: monokai